body {
    display: flex;
    flex-direction: column;
    
    padding-top: 50px;
    align-items: center;
    
}

.search {
    display: none;
    
    
}
.house {display: none;}





.homepage {
    color: black;
    transition:  0.2s;
}

.homepage:hover {
    color: rgb(162, 17, 247);
}

.close__circle {
    fill: darkseagreen;
    color:darkslategray;
    transition:  0.2s;
    }

.close__line {color:darkslategray;}

.close__circle:hover {
    fill: crimson;
   
}

.burger {
    color: rgb(134, 22, 63);
    transition: all 0.1s;
}

.line_1,
.line_2,
.line_3 {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transition: all 0.5s;
}

.burger__active .line_1 {
    transform: translate(0, 20px) rotate(45deg);
}

.burger__active .line_2 {
    opacity: 0;
}

.burger__active .line_3 {
    transform: translate(0, -20px) rotate(-45deg);
}

.burger:hover {
    color: rgb(207, 14, 72);
}

.bulb { 
    fill: rgb(29, 29, 23);
}

.bulb--on {
    fill: yellow;
}

.switch--on {
    fill: lime;
}
.star--on {
    fill: yellow;
}