body {
    padding-left: 30%;
    padding-top: 50px;
    
}

.search {
    color: black;
    transition:  0.2s;
}

.search:hover {
    color: rgb(162, 17, 247);
}


.homepage {
    color: black;
    transition:  0.2s;
}

.homepage:hover {
    color: rgb(162, 17, 247);
}